/* Hero */
.hero-5-1 .media-column{
	background-image: url(../images/photo-studio/generic/hero-half-1.jpg);
}
.hero-5-2 .media-column{
	background-image: url(../images/photo-studio/generic/hero-half-2.jpg);
}
.hero-5-3 .media-column{
	background-image: url(../images/photo-studio/generic/hero-half-3.jpg);
}